<!DOCTYPE html>
<html lang="en">
<head>
    <title> FakeFlix</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <div id="body">
            {% include 'sidenav.html' %}
            <div id="content">
                {% include 'header.html' %}
                <div id="container">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>